In [1]:
import pandas as pd
import numpy as np

In [3]:
df= pd.read_csv("hepatitis.csv", header=None)
df

     0   1   2  3   4  5  6  7  8  9  10 11 12 13    14   15   16   17  18  19
0     2  30   2  1   2  2  2  2  1  2  2  2  2  2  1.00   85   18  4.0   ?   1
1     2  50   1  1   2  1  2  2  1  2  2  2  2  2  0.90  135   42  3.5   ?   1
2     2  78   1  2   2  1  2  2  2  2  2  2  2  2  0.70   96   32  4.0   ?   1
3     2  31   1  ?   1  2  2  2  2  2  2  2  2  2  0.70   46   52  4.0  80   1
4     2  34   1  2   2  2  2  2  2  2  2  2  2  2  1.00    ?  200  4.0   ?   1
..   ..  ..  .. ..  .. .. .. .. .. .. .. .. .. ..   ...  ...  ...  ...  ..  ..
150   1  46   1  2   2  1  1  1  2  2  2  1  1  1  7.60    ?  242  3.3  50   2
151   2  44   1  2   2  1  2  2  2  1  2  2  2  2  0.90  126  142  4.3   ?   2
152   2  61   1  1   2  1  1  2  1  1  2  1  2  2  0.80   75   20  4.1   ?   2
153   2  53   2  1   2  1  2  2  2  2  1  1  2  1  1.50   81   19  4.1  48   2
154   1  43   1  2   2  1  2  2  2  2  1  1  1  2  1.20  100   19  3.1  42   2

[155 rows x 20 columns]

In [4]:
cols=["Class", "Age", "Sex", "Steroid","Antivirals", "Fatigue", "Malaise", "Anorexia", "Liver big", "Liver firm", "Spleen Palpable", "Spiders", "Ascites", "Varices", "Bilirubin", "Alk Phosphate", "SGOT", "Albumin", "Protime", "Histology"]
df.columns=cols
df

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,Liver big,Liver firm,Spleen Palpable,Spiders,Ascites,Varices,Bilirubin,Alk Phosphate,SGOT,Albumin,Protime,Histology
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,1,46,1,2,2,1,1,1,2,2,2,1,1,1,7.60,?,242,3.3,50,2
151,2,44,1,2,2,1,2,2,2,1,2,2,2,2,0.90,126,142,4.3,?,2
152,2,61,1,1,2,1,1,2,1,1,2,1,2,2,0.80,75,20,4.1,?,2
153,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.50,81,19,4.1,48,2
154,1,43,1,2,2,1,2,2,2,2,1,1,1,2,1.20,100,19,3.1,42,2

# 1.Create data subsets for different sex.

In [6]:
df["Sex"].unique()

array([2, 1], dtype=int64)

In [9]:
df_sex1= df[df["Sex"]==1]
df_sex1

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,Liver big,Liver firm,Spleen Palpable,Spiders,Ascites,Varices,Bilirubin,Alk Phosphate,SGOT,Albumin,Protime,Histology
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
5,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,2,36,1,2,2,2,2,2,2,2,2,2,2,2,0.60,120,30,4.0,?,2
150,1,46,1,2,2,1,1,1,2,2,2,1,1,1,7.60,?,242,3.3,50,2
151,2,44,1,2,2,1,2,2,2,1,2,2,2,2,0.90,126,142,4.3,?,2
152,2,61,1,1,2,1,1,2,1,1,2,1,2,2,0.80,75,20,4.1,?,2
154,1,43,1,2,2,1,2,2,2,2,1,1,1,2,1.20,100,19,3.1,42,2

In [10]:
df_sex2= df[df["Sex"]==2]
df_sex2

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,Liver big,Liver firm,Spleen Palpable,Spiders,Ascites,Varices,Bilirubin,Alk Phosphate,SGOT,Albumin,Protime,Histology
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
20,2,22,2,2,1,1,2,2,2,2,2,2,2,2,0.90,48,20,4.2,64,1
24,2,25,2,1,1,2,2,2,2,2,2,2,2,2,0.40,45,18,4.3,70,1
27,2,58,2,2,2,1,2,2,2,1,2,1,2,2,1.40,175,55,2.7,36,1
32,2,41,2,2,1,1,1,1,2,2,2,2,2,2,0.70,81,53,5.0,74,1
33,2,26,2,1,2,2,2,2,2,1,2,2,2,2,0.50,135,29,3.8,60,1
37,2,20,2,1,2,1,1,1,1,1,1,1,2,2,2.30,150,68,3.9,?,1
47,2,28,2,2,2,1,1,2,2,1,2,2,2,2,1.80,191,420,3.3,46,1
59,2,45,2,1,2,1,1,2,2,2,1,2,2,2,1.00,85,75,?,?,1
77,2,34,2,1,1,2,2,2,2,1,2,2,2,2,0.60,30,24,4.0,76,1
83,2,67,2,1,2,1,1,2,2,2,?,?,?,?,1.50,179,69,2.9,?,1
84,2,62,2,2,2,1,1,2,2,1,2,1,2,2,1.30,141,156,3.9,58,1
90,2,50,2,1,2,1,2,2,1,1,1,1,2,2,0.90,230,117,3.4,41,2
115,2,69,2,2,2,1,2,2,2,2,2,2,2,2,3.20,119,136,?,?,2
125,2,34,2,2,2,1,1,1,1,1,2,1,2,2,0.70,70,24,4.1,100,2
153,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.50,81,19,4.1,48,2

# 2.Merge two subsets

In [11]:
df_merged= pd.concat([df_sex1, df_sex2])
df_merged

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,Liver big,Liver firm,Spleen Palpable,Spiders,Ascites,Varices,Bilirubin,Alk Phosphate,SGOT,Albumin,Protime,Histology
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
5,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,2,62,2,2,2,1,1,2,2,1,2,1,2,2,1.30,141,156,3.9,58,1
90,2,50,2,1,2,1,2,2,1,1,1,1,2,2,0.90,230,117,3.4,41,2
115,2,69,2,2,2,1,2,2,2,2,2,2,2,2,3.20,119,136,?,?,2
125,2,34,2,2,2,1,1,1,1,1,2,1,2,2,0.70,70,24,4.1,100,2
153,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.50,81,19,4.1,48,2

# 3.Sort Data using age, SGOT, PROTIME.

In [13]:
df_age_sort= df.sort_values(by=["Age"])
df_age_sort

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,Liver big,Liver firm,Spleen Palpable,Spiders,Ascites,Varices,Bilirubin,Alk Phosphate,SGOT,Albumin,Protime,Histology
110,2,7,1,2,2,2,2,2,2,1,1,2,2,2,0.70,256,25,4.2,?,2
37,2,20,2,1,2,1,1,1,1,1,1,1,2,2,2.30,150,68,3.9,?,1
148,2,20,1,1,2,2,2,2,2,?,2,2,2,2,0.90,89,152,4.0,?,2
121,2,20,1,1,2,1,1,1,2,2,2,1,1,2,1.00,160,118,2.9,23,2
101,2,22,1,2,2,2,2,2,2,2,2,2,2,2,0.70,?,24,?,?,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,2,67,2,1,2,1,1,2,2,2,?,?,?,?,1.50,179,69,2.9,?,1
115,2,69,2,2,2,1,2,2,2,2,2,2,2,2,3.20,119,136,?,?,2
147,1,70,1,1,2,1,1,1,?,?,?,?,?,?,1.70,109,528,2.8,35,2
133,2,72,1,2,1,1,2,2,2,1,2,2,2,2,1.00,115,52,3.4,50,2
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1

In [14]:
df_sgot_sort= df.sort_values(by=["SGOT"], ascending=False)
df_sgot_sort

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,Liver big,Liver firm,Spleen Palpable,Spiders,Ascites,Varices,Bilirubin,Alk Phosphate,SGOT,Albumin,Protime,Histology
56,2,34,1,1,2,?,?,?,?,?,?,?,?,?,?,?,?,?,?,1
6,1,51,1,1,2,1,2,1,2,2,1,1,2,2,?,?,?,?,?,1
118,1,61,1,1,2,1,1,2,?,?,2,1,2,2,?,?,?,?,?,2
7,2,23,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,?,?,?,1
30,1,39,1,1,1,1,1,2,2,1,2,2,2,2,2.30,280,98,3.8,40,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2,50,2,1,2,1,2,2,1,1,1,1,2,2,0.90,230,117,3.4,41,2
144,1,45,1,2,2,1,1,1,2,2,2,1,1,2,1.90,?,114,2.4,?,2
45,2,28,1,2,2,1,1,2,2,2,2,2,2,2,0.70,74,110,4.4,?,1
131,1,31,1,1,2,1,1,1,2,2,1,2,2,2,8.00,?,101,2.2,?,2
74,2,50,1,2,2,2,2,2,2,2,2,2,2,2,1.50,100,100,5.3,?,1

In [16]:
df_protime_sort= df.sort_values(by=["Protime"], ascending = False)
df_protime_sort

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,Liver big,Liver firm,Spleen Palpable,Spiders,Ascites,Varices,Bilirubin,Alk Phosphate,SGOT,Albumin,Protime,Histology
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
99,2,60,1,1,2,1,2,2,1,1,1,1,2,2,?,?,40,?,?,2
55,2,37,1,1,2,1,1,1,2,2,2,2,2,2,0.80,92,59,?,?,1
101,2,22,1,2,2,2,2,2,2,2,2,2,2,2,0.70,?,24,?,?,2
105,2,25,1,2,2,2,2,2,2,2,2,2,2,2,0.60,?,34,6.4,?,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,2,37,1,2,2,2,2,2,2,2,2,2,2,2,0.70,26,58,4.5,100,1
96,2,30,1,1,2,1,1,2,2,1,2,1,2,2,0.80,147,128,3.9,100,2
38,2,42,1,1,2,2,2,2,2,2,2,2,2,2,1.00,85,14,4.0,100,1
43,2,56,1,1,2,1,2,2,2,2,2,2,2,2,0.70,71,18,4.4,100,1
130,2,54,1,2,2,2,2,2,2,2,2,2,2,2,1.00,85,30,4.5,0,2

# 4. Transposing Data

In [17]:
df_transpose= df.transpose()
df_transpose

,0,1,2,3,4,5,6,7,8,9,...,145,146,147,148,149,150,151,152,153,154
Class,2,2,2,2,2,2,1,2,2,2,...,2,1,1,2,2,1,2,2,2,1
Age,30,50,78,31,34,34,51,23,39,30,...,31,41,70,20,36,46,44,61,53,43
Sex,2,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,2,1
Steroid,1,1,2,?,2,2,1,2,2,2,...,1,2,1,1,2,2,2,1,1,2
Antivirals,2,2,2,1,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Fatigue,2,1,1,2,2,2,1,2,1,2,...,1,1,1,2,2,1,1,1,1,1
Malaise,2,2,2,2,2,2,2,2,2,2,...,2,2,1,2,2,1,2,1,2,2
Anorexia,2,2,2,2,2,2,1,2,2,2,...,2,2,1,2,2,1,2,2,2,2
Liver big,1,1,2,2,2,2,2,2,2,2,...,2,2,?,2,2,2,2,1,2,2
Liver firm,2,2,2,2,2,2,2,2,1,2,...,2,1,?,?,2,2,1,1,2,2
Spleen Palpable,2,2,2,2,2,2,1,2,2,2,...,2,1,?,2,2,2,2,2,1,1
Spiders,2,2,2,2,2,2,1,2,2,2,...,2,1,?,2,2,1,2,1,1,1
Ascites,2,2,2,2,2,2,2,2,2,2,...,2,2,?,2,2,1,2,2,2,1
Varices,2,2,2,2,2,2,2,2,2,2,...,2,1,?,2,2,1,2,2,1,2
Bilirubin,1.00,0.90,0.70,0.70,1.00,0.90,?,1.00,0.70,1.00,...,1.20,4.20,1.70,0.90,0.60,7.60,0.90,0.80,1.50,1.20
Alk Phosphate,85,135,96,46,?,95,?,?,?,?,...,75,65,109,89,120,?,126,75,81,100
SGOT,18,42,32,52,200,28,?,?,48,120,...,173,120,528,152,30,242,142,20,19,19
Albumin,4.0,3.5,4.0,4.0,4.0,4.0,?,?,4.4,3.9,...,4.2,3.4,2.8,4.0,4.0,3.3,4.3,4.1,4.1,3.1
Protime,?,?,?,80,?,75,?,?,?,?,...,54,?,35,?,?,50,?,?,48,42
Histology,1,1,1,1,1,1,1,1,1,1,...,2,2,2,2,2,2,2,2,2,2

# 5.Melting Data to long format

In [18]:
df_melted= pd.melt(df, id_vars=["Class", "Age"], var_name="Metrics", value_name="values")
df_melted

      Class  Age    Metrics values
0         2   30        Sex      2
1         2   50        Sex      1
2         2   78        Sex      1
3         2   31        Sex      1
4         2   34        Sex      1
...     ...  ...        ...    ...
2785      1   46  Histology      2
2786      2   44  Histology      2
2787      2   61  Histology      2
2788      2   53  Histology      2
2789      1   43  Histology      2

[2790 rows x 4 columns]

# 6.Casting data to wide format

In [23]:
df_casted= pd.pivot_table(df, index=["Class", "Age", "Sex"], values=["Histology", "Antivirals"])
df_casted

               Antivirals  Histology
Class Age Sex
1     30  1           2.0        2.0
      31  1           2.0        2.0
      33  1           2.0        2.0
      34  1           2.0        1.0
      35  1           2.0        2.0
...                   ...        ...
2     66  1           2.0        1.0
      67  2           2.0        1.0
      69  2           2.0        2.0
      72  1           1.0        2.0
      78  1           2.0        1.0

[80 rows x 2 columns]